accelerate
apache_beam
datasets
deepspeed
einops
gym
gym[classic_control]
imageio
matplotlib
mwparserfromhell
numpy
pandas
pillow
pre-commit
python-dotenv
pytorch-lightning
seaborn
spacy
tensorboard
torch
torchvision
tqdm
transformers
wandb
